{% load static %}
<html>
<head>
<title>Attendance Update</title>
<link rel="stylesheet" type="text/css" href={% static "/css/main.css" %}>

</head>
<body>
<div class="header">
<img src="{% static "images/bhu.png" %}"
alt="Picture of bhu"/>
<h1>Faculty Of Performing Arts</h1>
<h2>Banaras Hindu University</h2>
</div>	 
<p>Enter the details for attendance update</p>

<form action='' method='post'>{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Submit' />
</form>
<p>Courses:</p>
<table>
{% for i in table %}
	<tr>
	{% for j in i %}
		<th>{{j}}</th>

	
	{% endfor %}
	</tr>
{% endfor %}

</table>
</body>
</html>
