<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href={% static "/css/main.css" %}>
<title>Course Management Portal</title>
</head>

<body>
<div class="header">
<img src="{% static "images/bhu.png" %}"
alt="Picture of bhu"/>
<h1>Faculty Of Performing Arts</h1>
<h2>Banaras Hindu University</h2>
</div>
<div class="welcome"><h3>Welcome to Course Management Portal</h3>
<h3>Please fill the login dtails</h3></div><br>
<div class="form">
<form action='' method='post'>{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Submit' />
</div>

</form>
</body>
</html>

<!-- following is the login form code--> 


